.pet-container {
  display: flex;
  justify-content: center;
}

.center {
  width: 800px;
}

#inner-container {
    margin: auto;
    width: 600px;
    float: left;
    height: 600px;
    background: #cccccc;
    text-align: center;
}

#right-container {
  margin: auto;
  width: 200px;
  float: left;
  height: 600px;
  background: #000;
  text-align: center;
}

#love-for-owner {
  margin-left: 85%;
  width: 10%;
  height: 50px;
  background: #fff;
  text-align: center;
}

#the-pet {
  margin: auto;
  font-size: 100px;
  text-align: center;
}

@import "compass/css3";

.pet-stats-container {
  padding: 0;
  margin: auto;
  list-style: none;
  /* padding-left: 20%; */
  margin-top: 0%;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: column;
  justify-content: space-around;
}

.pet-stats-item {
  background: pink;
  padding: 5px;
  width: 100px;
  height: 100px;
  margin-top: 10px;
  margin-left: 23%;

  line-height: 100px;
  color: white;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
}

.user-info-container {
  display: flex;
  -webkit-flex-flow: row;
  justify-content: space-between;
  width: 800px;
  margin: auto;
}

.user-info-item {
  background: purple;
  padding: 5px;
  width: 150px;
  height: 50px;
  margin-top: 10px;


  line-height: 20px;
  color: white;
  font-weight: bold;
  font-size: 15px;
  text-align: center;
}
